<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Link Account
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <form (ngSubmit)="linkForm()">
            <div>
                <ion-item>
                    <ion-input type="text" placeholder="Enter your secret key" [(ngModel)]="privateKey"></ion-input>
                </ion-item>
            </div>
            <div margin-top>
                <ion-button type="submit" color="primary">Link Account</ion-button>
            </div>
        </form>
    </ion-grid>
</ion-content>