<ion-header>
  <ion-toolbar>
    <ion-title>Send Token</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Destination Id -->
  <ion-input type="text" placeholder="Destination Id" [(ngModel)]="destinationId"></ion-input>
  <ion-button color="primary" (click)="sendToken()" *ngIf="!loading">Send Token</ion-button>
  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-row *ngIf="response">
    <ion-card>
      <ion-card-header>
        
        <ion-card-title><strong>Result</strong></ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-label color="success" *ngIf="resultToken">GBYT token successfully sent!</ion-label>
        <ion-label color="danger" *ngIf="!resultToken && !errorResponse">Not successfull! Please try again later</ion-label>
        <ion-label color="danger" *ngIf="errorResponse && !resultToken">There is an Error on the destination id.</ion-label>
        <!-- <strong>
          Public key:
        </strong> {{ newAccount.publicKey }}
        <br><br>
        <strong>
          Private Key:
        </strong> {{ newAccount.privateKey }} -->
      </ion-card-content>
    </ion-card>

  </ion-row>

  <!-- <form [formGroup]="loginForm" (submit)="onSubmit()">
    <ion-item>
      <ion-label>username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>password</ion-label>
      <ion-textarea type="text" formControlName="password"></ion-textarea>
    </ion-item>
    <ion-button type="submit" [disabled]="!loginForm.valid">Submit</ion-button>
  </form> -->

</ion-content>